<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>PergiPergi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Password</h2>
                <br>
                <h5 th:text="${warning}"></h5>
                <br>
                <form th:action="@{/user/password-change}" th:object="${box}" method="POST"> 
                    Password lama : <br>
                    <input class="form-control" type="password" name="oldPass" th:value="*{oldPass}"/>
                    <br>
 
                    Password baru : <br>
                    <input class="form-control" type="password" name="newPass" th:value="*{newPass}"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                    title="Password minimal berisi 1 angka, 1 huruf besar, 1 huruf kecil, 1 simbol, dan berjumlah 8 karakter."/>
                    <br>
                    
                    Konfirmasi password baru : <br>
                    <input class="form-control" type="password" name="passConfirm" th:value="*{passConfirm}" 
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                    title="Password minimal berisi 1 angka, 1 huruf besar, 1 huruf kecil, 1 simbol, dan berjumlah 8 karakter."/>
                    <br>
 
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>