<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>PergiPergi</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <h2>Daftar Seluruh User</h2>
  <br>
  <table class="table">
      <thead>
          <tr>
              <th>Username</th>
              <th>Nama User</th>
              <th>Email</th>
              <th>Hapus</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="i : ${listUsers}">
              <td th:text="${i.username}"></td>
              <td th:text="${i.nama}"></td>
              <td th:text="${i.email}"></td>
              <td><a class="btn btn-danger" th:href="@{/user/hapus/} + ${i.username}">Hapus User</a></td>
          </tr>
      </tbody>
  </table>
  <br>
  <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>
